---
permalink: '/notes/index.json'
---
{
  "notes": [
{% for post in collections.note %}
    {
      "title": "{{ post.fileSlug }}",
      "url": "{{ post.url }}",
      "date": "{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}"
    }{%- unless forloop.last -%},{%- endunless -%}
{% endfor %}
  ]
}

