---
title: 'Zack Hobson'
layout: layouts/posts.html
---

{% for post in collections.post reversed %}

<h2>
  <a href="{{ post.url }}">{{ post.data.title }}</a>
  <span class="alt">{{ post.date | date: "%A %B %e, %Y" }}</span>
</h2>

{% endfor %}
