---
permalink: '/posts/index.json'
---
{
  "notes": [
{% for post in collections.post %}
    {
      "title": "{{ post.data.title | escape }}",
      "url": "{{ post.url | escape }}",
      "date": "{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}"
    }{% unless forloop.last -%},{%- endunless %}
{% endfor %}
  ]
}


