<div class="footer-container">
  <footer class="alt wrapper">
    <ul>
      <li>&copy; 2009-{{ page.date | date: '%Y' }} Zack Hobson</li>
      <li class="rss alt">
        <a
          href="https://feeds.feedburner.com/zackhobson"
          rel="alternate"
          type="application/rss+xml"
          >Subscribe</a
        >
        or <a href="/posts/">read more</a>.
      </li>
      <li><a href="/about">About this website</a></li>
    </ul>
  </footer>
</div>
