<meta charset="UTF-8" />
<meta name="author" content="Zack Hobson" />
<meta name="generator" content="{{ eleventy.generator }}">
{% if page.summary %}
<meta name="description" content="{{ page.summary }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
  href="//feeds.feedburner.com/zackhobson"
  rel="alternate"
  title="Zack Hobson"
  type="application/atom+xml"
/>
<link
  rel="stylesheet"
  href="/static/css/screenv2.css"
  type="text/css"
  media="screen, projection"
/>
<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
