<aside id="recent-posts">
  <ul>
    {% for post in collections.post reversed %} {% if forloop.index < 5 %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <div class="postDate alt">{{ post.date | date: "%Y %b %e" }}</div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</aside>
