<div id="sidebar" class="span-7 last">
  <div id="links">
    <div class="box">
      <h4>Public profile</h4>
      <ul>
        <li><a href="http://github.com/zenhob">@github</a>
        <li><a href="http://twitter.com/zenhob">@twitter</a></li>
        <li><a href="http://facebook.com/zenhob">@facebook</a></li>
        <li><a href="http://calendaraboutnothing.com/~zenhob">@calendaraboutnothing</a></li>
        <li><a href="http://entp.com/">ENTP</a>, my employer</li>
      </ul>
    </div>
  </div>

  <div id="recent-posts">
    <div class="box">
      <h4>Posts</h4>
      <ul>
        {% for post in collections.post reversed %}
          <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
        <li><a href="//feeds.feedburner.com/zackhobson" rel="alternate" type="application/rss+xml"><img src="//www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"></a>&nbsp;<a href="//feeds.feedburner.com/zackhobson" rel="alternate" type="application/rss+xml" style="font-weight:bold">Subscribe</a></li>
      </ul>
    </div>
  </div>
</div>

