<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">
      <img alt="" src="/images/zenhob.png" width="50" height="50" />
      <a href="/">Zack Hobson</a>
    </h1>
  </header>
</div>
