html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table,
th,
td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
html {
  font-size: 100.01%;
}
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
p {
  margin: 0 0 1.5em;
}
.left {
  float: left !important;
}
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.right {
  float: right !important;
}
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a:focus,
a:hover {
  color: #09f;
}
a {
  color: #06c;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
sup,
sub {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
}
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre,
code,
tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th {
  font-weight: bold;
}
thead th {
  background: #c3d9ff;
}
th,
td,
caption {
  padding: 4px 10px 4px 5px;
}
tbody tr:nth-child(even) td,
tbody tr.even td {
  background: #e5ecf9;
}
tfoot {
  font-style: italic;
}
caption {
  background: #eee;
}
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide {
  display: none;
}
.quiet {
  color: #666;
}
.loud {
  color: #000;
}
.highlight {
  background: #ff0;
}
.added {
  background: #060;
  color: #fff;
}
.removed {
  background: #900;
  color: #fff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
label {
  font-weight: bold;
}
fieldset {
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset,
#IE8#HACK {
  padding-top: 1.4em;
}
legend,
#IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
input[type='text'],
input[type='password'],
input.text,
input.title,
textarea {
  background-color: #fff;
  border: 1px solid #bbb;
}
input[type='text']:focus,
input[type='password']:focus,
input.text:focus,
input.title:focus,
textarea:focus {
  border-color: #666;
}
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
input[type='text'],
input[type='password'],
input.text,
input.title,
textarea,
select {
  margin: 0.5em 0;
}
input.text,
input.title {
  width: 300px;
  padding: 5px;
}
input.title {
  font-size: 1.5em;
}
textarea {
  width: 390px;
  height: 250px;
  padding: 5px;
}
form.inline {
  line-height: 3;
}
form.inline p {
  margin-bottom: 0;
}
.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.error a,
.alert a {
  color: #8a1f11;
}
.notice a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
.container {
  width: 766px;
  margin: 0 auto;
}
.showgrid {
  background: url(../home/zack/code/zackhobson.com/css/blueprint/src/grid.png);
}
.column,
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12,
.span-13,
.span-14,
.span-15,
.span-16,
.span-17,
.span-18,
.span-19,
.span-20,
.span-21,
.span-22,
.span-23,
.span-24 {
  float: left;
  margin-right: 2px;
}
.last {
  margin-right: 0;
}
.span-1 {
  width: 30px;
}
.span-2 {
  width: 62px;
}
.span-3 {
  width: 94px;
}
.span-4 {
  width: 126px;
}
.span-5 {
  width: 158px;
}
.span-6 {
  width: 190px;
}
.span-7 {
  width: 222px;
}
.span-8 {
  width: 254px;
}
.span-9 {
  width: 286px;
}
.span-10 {
  width: 318px;
}
.span-11 {
  width: 350px;
}
.span-12 {
  width: 382px;
}
.span-13 {
  width: 414px;
}
.span-14 {
  width: 446px;
}
.span-15 {
  width: 478px;
}
.span-16 {
  width: 510px;
}
.span-17 {
  width: 542px;
}
.span-18 {
  width: 574px;
}
.span-19 {
  width: 606px;
}
.span-20 {
  width: 638px;
}
.span-21 {
  width: 670px;
}
.span-22 {
  width: 702px;
}
.span-23 {
  width: 734px;
}
.span-24 {
  width: 766px;
  margin-right: 0;
}
input.span-1,
textarea.span-1,
input.span-2,
textarea.span-2,
input.span-3,
textarea.span-3,
input.span-4,
textarea.span-4,
input.span-5,
textarea.span-5,
input.span-6,
textarea.span-6,
input.span-7,
textarea.span-7,
input.span-8,
textarea.span-8,
input.span-9,
textarea.span-9,
input.span-10,
textarea.span-10,
input.span-11,
textarea.span-11,
input.span-12,
textarea.span-12,
input.span-13,
textarea.span-13,
input.span-14,
textarea.span-14,
input.span-15,
textarea.span-15,
input.span-16,
textarea.span-16,
input.span-17,
textarea.span-17,
input.span-18,
textarea.span-18,
input.span-19,
textarea.span-19,
input.span-20,
textarea.span-20,
input.span-21,
textarea.span-21,
input.span-22,
textarea.span-22,
input.span-23,
textarea.span-23,
input.span-24,
textarea.span-24 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
input.span-1,
textarea.span-1 {
  width: 18px;
}
input.span-2,
textarea.span-2 {
  width: 50px;
}
input.span-3,
textarea.span-3 {
  width: 82px;
}
input.span-4,
textarea.span-4 {
  width: 114px;
}
input.span-5,
textarea.span-5 {
  width: 146px;
}
input.span-6,
textarea.span-6 {
  width: 178px;
}
input.span-7,
textarea.span-7 {
  width: 210px;
}
input.span-8,
textarea.span-8 {
  width: 242px;
}
input.span-9,
textarea.span-9 {
  width: 274px;
}
input.span-10,
textarea.span-10 {
  width: 306px;
}
input.span-11,
textarea.span-11 {
  width: 338px;
}
input.span-12,
textarea.span-12 {
  width: 370px;
}
input.span-13,
textarea.span-13 {
  width: 402px;
}
input.span-14,
textarea.span-14 {
  width: 434px;
}
input.span-15,
textarea.span-15 {
  width: 466px;
}
input.span-16,
textarea.span-16 {
  width: 498px;
}
input.span-17,
textarea.span-17 {
  width: 530px;
}
input.span-18,
textarea.span-18 {
  width: 562px;
}
input.span-19,
textarea.span-19 {
  width: 594px;
}
input.span-20,
textarea.span-20 {
  width: 626px;
}
input.span-21,
textarea.span-21 {
  width: 658px;
}
input.span-22,
textarea.span-22 {
  width: 690px;
}
input.span-23,
textarea.span-23 {
  width: 722px;
}
input.span-24,
textarea.span-24 {
  width: 754px;
}
.append-1 {
  padding-right: 32px;
}
.append-2 {
  padding-right: 64px;
}
.append-3 {
  padding-right: 96px;
}
.append-4 {
  padding-right: 128px;
}
.append-5 {
  padding-right: 160px;
}
.append-6 {
  padding-right: 192px;
}
.append-7 {
  padding-right: 224px;
}
.append-8 {
  padding-right: 256px;
}
.append-9 {
  padding-right: 288px;
}
.append-10 {
  padding-right: 320px;
}
.append-11 {
  padding-right: 352px;
}
.append-12 {
  padding-right: 384px;
}
.append-13 {
  padding-right: 416px;
}
.append-14 {
  padding-right: 448px;
}
.append-15 {
  padding-right: 480px;
}
.append-16 {
  padding-right: 512px;
}
.append-17 {
  padding-right: 544px;
}
.append-18 {
  padding-right: 576px;
}
.append-19 {
  padding-right: 608px;
}
.append-20 {
  padding-right: 640px;
}
.append-21 {
  padding-right: 672px;
}
.append-22 {
  padding-right: 704px;
}
.append-23 {
  padding-right: 736px;
}
.prepend-1 {
  padding-left: 32px;
}
.prepend-2 {
  padding-left: 64px;
}
.prepend-3 {
  padding-left: 96px;
}
.prepend-4 {
  padding-left: 128px;
}
.prepend-5 {
  padding-left: 160px;
}
.prepend-6 {
  padding-left: 192px;
}
.prepend-7 {
  padding-left: 224px;
}
.prepend-8 {
  padding-left: 256px;
}
.prepend-9 {
  padding-left: 288px;
}
.prepend-10 {
  padding-left: 320px;
}
.prepend-11 {
  padding-left: 352px;
}
.prepend-12 {
  padding-left: 384px;
}
.prepend-13 {
  padding-left: 416px;
}
.prepend-14 {
  padding-left: 448px;
}
.prepend-15 {
  padding-left: 480px;
}
.prepend-16 {
  padding-left: 512px;
}
.prepend-17 {
  padding-left: 544px;
}
.prepend-18 {
  padding-left: 576px;
}
.prepend-19 {
  padding-left: 608px;
}
.prepend-20 {
  padding-left: 640px;
}
.prepend-21 {
  padding-left: 672px;
}
.prepend-22 {
  padding-left: 704px;
}
.prepend-23 {
  padding-left: 736px;
}
.border {
  padding-right: 0;
  margin-right: 1px;
  border-right: 1px solid #ddd;
}
.colborder {
  padding-right: 16px;
  margin-right: 17px;
  border-right: 1px solid #ddd;
}
.pull-1 {
  margin-left: -32px;
}
.pull-2 {
  margin-left: -64px;
}
.pull-3 {
  margin-left: -96px;
}
.pull-4 {
  margin-left: -128px;
}
.pull-5 {
  margin-left: -160px;
}
.pull-6 {
  margin-left: -192px;
}
.pull-7 {
  margin-left: -224px;
}
.pull-8 {
  margin-left: -256px;
}
.pull-9 {
  margin-left: -288px;
}
.pull-10 {
  margin-left: -320px;
}
.pull-11 {
  margin-left: -352px;
}
.pull-12 {
  margin-left: -384px;
}
.pull-13 {
  margin-left: -416px;
}
.pull-14 {
  margin-left: -448px;
}
.pull-15 {
  margin-left: -480px;
}
.pull-16 {
  margin-left: -512px;
}
.pull-17 {
  margin-left: -544px;
}
.pull-18 {
  margin-left: -576px;
}
.pull-19 {
  margin-left: -608px;
}
.pull-20 {
  margin-left: -640px;
}
.pull-21 {
  margin-left: -672px;
}
.pull-22 {
  margin-left: -704px;
}
.pull-23 {
  margin-left: -736px;
}
.pull-24 {
  margin-left: -768px;
}
.pull-1,
.pull-2,
.pull-3,
.pull-4,
.pull-5,
.pull-6,
.pull-7,
.pull-8,
.pull-9,
.pull-10,
.pull-11,
.pull-12,
.pull-13,
.pull-14,
.pull-15,
.pull-16,
.pull-17,
.pull-18,
.pull-19,
.pull-20,
.pull-21,
.pull-22,
.pull-23,
.pull-24 {
  float: left;
  position: relative;
}
.push-1 {
  margin: 0 -32px 1.5em 32px;
}
.push-2 {
  margin: 0 -64px 1.5em 64px;
}
.push-3 {
  margin: 0 -96px 1.5em 96px;
}
.push-4 {
  margin: 0 -128px 1.5em 128px;
}
.push-5 {
  margin: 0 -160px 1.5em 160px;
}
.push-6 {
  margin: 0 -192px 1.5em 192px;
}
.push-7 {
  margin: 0 -224px 1.5em 224px;
}
.push-8 {
  margin: 0 -256px 1.5em 256px;
}
.push-9 {
  margin: 0 -288px 1.5em 288px;
}
.push-10 {
  margin: 0 -320px 1.5em 320px;
}
.push-11 {
  margin: 0 -352px 1.5em 352px;
}
.push-12 {
  margin: 0 -384px 1.5em 384px;
}
.push-13 {
  margin: 0 -416px 1.5em 416px;
}
.push-14 {
  margin: 0 -448px 1.5em 448px;
}
.push-15 {
  margin: 0 -480px 1.5em 480px;
}
.push-16 {
  margin: 0 -512px 1.5em 512px;
}
.push-17 {
  margin: 0 -544px 1.5em 544px;
}
.push-18 {
  margin: 0 -576px 1.5em 576px;
}
.push-19 {
  margin: 0 -608px 1.5em 608px;
}
.push-20 {
  margin: 0 -640px 1.5em 640px;
}
.push-21 {
  margin: 0 -672px 1.5em 672px;
}
.push-22 {
  margin: 0 -704px 1.5em 704px;
}
.push-23 {
  margin: 0 -736px 1.5em 736px;
}
.push-24 {
  margin: 0 -768px 1.5em 768px;
}
.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12,
.push-13,
.push-14,
.push-15,
.push-16,
.push-17,
.push-18,
.push-19,
.push-20,
.push-21,
.push-22,
.push-23,
.push-24 {
  float: left;
  position: relative;
}
div.prepend-top,
.prepend-top {
  margin-top: 1.5em;
}
div.append-bottom,
.append-bottom {
  margin-bottom: 1.5em;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}
.clearfix:after,
.container:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix,
.container {
  display: block;
}
.clear {
  clear: both;
}
p + p {
  text-indent: 2em;
  margin-top: -1.5em;
}
form p + p {
  text-indent: 0;
}
.alt {
  color: #666;
  font-family: 'Warnock Pro', 'Goudy Old Style', 'Palatino', 'Book Antiqua',
    Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.dquo {
  margin-left: -0.5em;
}
p.incr,
.incr p {
  font-size: 10px;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
p + p {
  text-indent: 2em;
  margin-top: -1.5em;
}
form p + p {
  text-indent: 0;
}
.alt {
  color: #666;
  font-family: 'Warnock Pro', 'Goudy Old Style', 'Palatino', 'Book Antiqua',
    Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.dquo {
  margin-left: -0.5em;
}
p.incr,
.incr p {
  font-size: 10px;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font: 16px/26px Helvetica Neue, Helvetica, Arial;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
header h1 {
  text-align: center;
  font-size: 2em;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  margin-bottom: 10px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
}
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  padding: 0 5% 10px;
}
.footer-container footer {
  padding: 20px 0;
}
footer li {
  text-align: center;
}
.ie7 .title {
  padding-top: 20px;
}
@media only screen and (min-width: 480px) {
  header h1 {
    font-size: 2.5em;
  }
  nav li {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 12px 2%;
    margin-bottom: 0;
  }
  nav li:first-child {
    margin-left: 0;
  }
  nav li:last-child {
    margin-right: 0;
  }
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  header h1 {
    text-align: left;
    font-size: 3em;
  }
  footer li {
    text-align: right;
  }
  .inter {
    display: none;
  }
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: '(' attr(href) ')';
  }
  abbr[title]:after {
    content: '(' attr(title) ')';
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  padding-top: 2em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14pt;
  background-color: #f6f6f6;
  color: #444;
}
#banner {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffc;
  border: 1px solid #cc9;
}
a#banner:visited,
a#banner:link {
  color: #963;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:link,
a:visited {
  color: #069;
}
h2 a:link,
h2 a:visited {
  color: #666;
}
code {
  letter-spacing: -1pt;
}
pre {
  padding-left: 2em;
  margin-bottom: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
}
header h1 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20pt;
  letter-spacing: -1pt;
}
header h1 a,
header h1 a:link,
header h1 a:visited {
  text-decoration: none;
  color: #a2a2a2;
  padding-left: 1ex;
  text-transform: uppercase;
}
header nav {
  font-size: 12pt;
  line-height: 1em;
}
h2 {
  font-weight: bold;
  letter-spacing: -1pt;
  line-height: 1em;
}
h2 a,
h2 a:link,
h2 a:visited {
  text-decoration: none;
}
h2 span {
  margin-top: 1ex;
  letter-spacing: 0;
  display: block;
  font-weight: normal;
  font-size: 50%;
  color: gray;
}
body > hr {
  max-width: 90%;
  margin: auto;
}
article img {
  max-width: 100%;
}
article figure figcaption {
  font-style: italic;
  font-size: small;
}
article figure {
  margin-bottom: 1em;
}
article pre {
  font-size: 11pt;
  max-width: 100%;
}
div.excerpt {
  color: #666;
  padding-left: 1em;
}
#links {
  text-align: right;
}
#top ul {
  list-style: none;
}
#recent-posts {
  font-size: 14pt;
  font-weight: 400;
}
#recent-posts li > .alt {
  font-size: 75%;
  white-space: nowrap;
  letter-spacing: 0;
}
#recent-posts li {
  line-height: 120%;
  margin-bottom: 1.5em;
}
#recent-posts ul {
  list-style: none;
}
#recent-posts li.rss {
  margin-left: 0;
  list-style-image: url(//www.feedburner.com/fb/images/pub/feed-icon16x16.png);
}
#recent-posts li {
  margin-left: -1em;
}
footer {
  font-size: 90%;
  text-align: right;
}
footer ul {
  list-style: none;
}
.byline {
  font-style: italic;
  color: gray;
}
p {
  line-height: 2em;
}
li {
  line-height: 2em;
}
p + p {
  text-indent: 0;
  margin-top: 1.5em;
}
#footer {
  margin-top: 2em;
}
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}
