<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "head.html" %}
  </head>
  <body>
    {% include "top.html" %}

    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {{ content }}

          <hr class="inter" />
        </article>

        {% include "recent.html" %}
      </div>
    </div>

    {% include "bottom.html" %} {% include "footer.html" %}
  </body>
</html>
