{% assign title = page.fileSlug | replace: "-", " " | capitalize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "head.html" %}
  </head>
  <body>
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <h1>{{ title }}</h1>
          {{ content }}

          <hr class="inter" />
        </article>
      </div>
    </div>

    {% include "footer.html" %}
  </body>
</html>
