<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} / Zack Hobson</title>
    {% include "head.html" %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@zenhob" />
    <meta name="twitter:creator" content="@zenhob" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ summary }}" />
  </head>
  <body>
    {% include "top.html" %}

    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {% if illustration %}
          <figure>
            <img alt="{{ caption }}" src="{{ illustration }}" />
            <figcaption>{{ caption }}</figcaption>
          </figure>
          {% endif %}
          <h2>
            <a href="{{ url }}">{{ title }}</a>
            <span class="alt">{{ page.date | date: "%A %B %e, %Y" }}</span>
          </h2>
          {{ content }}

          <hr class="inter" />
        </article>

        {% include "recent.html" %}
      </div>
    </div>

    {% include "bottom.html" %} {% include "footer.html" %}
  </body>
</html>
