<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style type="text/css">
      @font-face {
        font-family: 'Barlow';
        src: url('/static/font/Barlow-Regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'Barlow';
        src: url('/static/font/Barlow-Bold-webfont.woff') format('woff');
        font-weight: bold;
        font-style: normal;
      }
      @font-face {
        font-family: 'Barlow';
        src: url('/static/font/Barlow-Italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;
      }
      /* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      * {
        margin: 0;
      }
      body {
        -webkit-font-smoothing: antialiased;
      }
      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }
      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }
      #root,
      #__next {
        isolation: isolate;
      }
      blockquote {
        text-align: center;
        font-style: italic;
      }
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }
      input,
      button,
      textarea,
      select {
        font: inherit;
      }
      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }
      body {
        font-family: 'Barlow', sans-serif, system-ui;
        margin: 1em auto;
        letter-spacing: 0;
        line-height: 1.25;
        max-width: 100ex;
        font-size: 18px;
      }
      blockquote > p {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      p {
        margin: 1ex 0;
        line-height: 1.5;
      }
      h1 {
        font-size: 1.25em;
        text-transform: uppercase;
        text-align: center;
      }
      h2 {
        margin-left: -1em;
        font-weight: bold;
        text-transform: uppercase;
      }
      h2,
      h3 {
        color: #444;
        font-size: 1.1em;
        margin-top: 1.25em;
      }
      a:link,
      a:visited,
      a:active {
        text-decoration: underline;
        color: #666;
      }
      ul {
        margin-top: 1em;
        padding-left: 1em;
        list-style: circle;
        line-height: 1.5;
      }
      @media (max-width: 1024px) {
        body {
          margin: 1em 3em;
        }
      }
    </style>
  </head>
  <body>
    {{content}}
  </body>
</html>
